.bgModal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 300ms ease,
        visibility 300ms ease;
}

.isOpen {
    opacity: 1;
    visibility: visible;
}

.onClose {
    opacity: 0;
    visibility: hidden;
}

.Modal {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    height: auto;
    position: relative;
    transition: all 300ms ease;
}
