@use '../abstracts';
.detailInfo{
    padding: 20px;
    width: 400px;
    
    margin-bottom: 10px;
    &__head{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__cap{
        margin-left: 5px;
        font-size: 2.0rem;
        color: var(--primary-color);
    }
    &__item{
        display: flex;
        gap: 20px;
        padding: 10px;
    }
    &__title{
        display: flex;
        gap: 10px;
        width: 140px;
    }
}