.doctor-dashboard {
    margin-left: 40px;

    &__activity {
        font-family: 'Lexend', sans-serif;

        h2 {
            margin-bottom: 30px;
            font-size: 1.8rem;
            text-transform: uppercase;
            color: var(--sup-color);
        }

        &--row {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            gap: 24px;
            margin-top: 24px;
        }

        &--item {
            display: flex;
            align-items: center;
            gap: 20px;

            margin-top: 24px;
            width: 100%;
            padding: 24px 20px;
            border-radius: 8px;

            img {
                width: 32px;
                height: 32px;
            }

            span {
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 1.5;
                color: #374858;
            }

            p {
                min-width: 170px;
                line-height: 1.5;
                font-size: 1.6rem;
                font-weight: 350;
            }
        }
    }
}
