@use '../abstracts';

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    &__label {
        font-size: 1.6rem;
        line-height: 1.5;

        color: var(--text-color);

        sup {
            font-weight: 200;
            color: #f62c2c;
        }
    }

    &__input {
        margin-top: 8px;
        padding: 10px 16px;
        width: 100%;
        min-width: 340px;
        font-size: 1.6rem;
        font-weight: 350;
        line-height: 1.5;
        height: 45px;

        color: var(--text-color);
        border-radius: 10px;
        border: 1px solid var(--border-color);
        background: #f9fafb;
        transition: border 0.3s;

        @include abstracts.screen(sm) {
            min-width: 280px;
        }

        &::placeholder {
            // font-family: 'Lexend', sans-serif;
            font-weight: 300;
            opacity: 0.6;
        }

        &:focus {
            border: 1px solid var(--hover-color);
        }
    }

    &__area {
        display: block;

        height: 160px;

        margin: 8px 0;
        padding: 10px 16px;
        width: 100%;
        min-width: 340px;
        font-size: 1.6rem;
        font-weight: 350;
        line-height: 1.5;

        color: var(--text-color);
        border-radius: 10px;
        border: 1px solid var(--border-color);
        background: #f9fafb;
        transition: border 0.3s;
        cursor: text;
        resize: none;

        &::placeholder {
            font-weight: 300;
            opacity: 0.6;
        }

        &:focus {
            border: 1px solid var(--hover-color);
        }
    }

    &__error {
        margin: 6px 0 0 6px;
        height: 14px;
        font-size: 1.2rem;
        font-weight: 350;

        color: #ff0000;
    }
}

.form {
    &__col {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    &__label {
        font-size: 1.6rem;
        line-height: 1.5;
        color: var(--text-color);

        sup {
            color: #f62c2c;
            font-weight: 200;
        }
    }

    &__select {
        margin-top: 8px;
        height: 45px;
        width: 100%;
        min-width: 340px;

        transition: border 0.3s;

        @include abstracts.screen(sm) {
            min-width: 280px;
        }

        .ant-select-selector {
            border-radius: 10px !important;
            background: #f9fafb !important;
            border: 1px solid var(--border-color) !important;
            padding: 0 16px !important;

            &:focus-within {
                border: 1px solid var(--hover-color) !important;
            }

            &:active {
                // border: 1px solid var(--hover-color) !important;
            }

            .ant-select-selection-item {
                font-family: 'Lexend', sans-serif;
                font-size: 1.6rem;
                font-weight: 350;
                color: var(--text-color);
            }

            .ant-select-selection-placeholder {
                font-family: 'Lexend', sans-serif;
                font-weight: 300;
                font-size: 1.6rem;
                opacity: 0.4;
                color: var(--text-color);
            }

            .ant-select-selection-search {
                font-family: 'Lexend', sans-serif;
                font-weight: 400;
                inset-inline-start: 16px;
            }
        }
    }
}

.ant-select-disabled {
    .ant-select-selection-item {
        opacity: 0.4 !important;
    }
}

.ant-picker-dropdown {
    z-index: 9999;

    font-family: 'Lexend', sans-serif;
    font-weight: 350 !important;
}

.ant-select-dropdown {
    z-index: 9999;

    font-family: 'Lexend', sans-serif;

    .ant-select-item-option {
        font-weight: 350 !important;
    }

    .ant-select-item-option-selected {
        font-weight: 400 !important;
    }
}
