.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    &__label {
        font-size: 1.6rem;
        line-height: 1.3;

        color: var(--text-color);

        sup {
            font-weight: 200;
            color: #f62c2c;
        }
    }

    &__input {
        margin-top: 8px;
        padding: 10px 16px;
        width: 100%;
        min-width: 340px;
        font-size: 1.4rem;
        line-height: 1.572;

        color: var(--text-color);
        border-radius: 10px;
        border: 1px solid var(--border-color);
        background: #f9fafb;
        transition: border 0.3s;

        &::placeholder {
            font-weight: 300;
            opacity: 0.6;
        }

        &:focus {
            border: 1px solid var(--hover-color);
        }
    }

    &__error {
        margin: 6px 0 0 6px;
        height: 14px;
        font-size: 1.2rem;
        font-weight: 300;

        color: #ff0000;
    }
}
