@use './abstracts';
@use './base';
@use './components';
@use './pages';
@use './layouts';

// font embed
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lexend', sans-serif;
    font-size: 1.6rem;
}

a,
Link {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    background: transparent;
}

a,
Link,
img,
button,
input,
label,
select,
textarea {
    padding: 0;
    font-family: inherit;
    border: none;
    outline: none;
    color: inherit;
}

input,
textarea {
    background: transparent;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @include abstracts.screen(xl) {
        gap: 12px;
    }

    &__img {
        @include abstracts.screen(md) {
            width: 32px;
            height: 32px;
        }
    }

    &__title {
        color: var(--primary-color);
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;

        @include abstracts.screen(lg) {
            font-size: 2rem;
        }

        &--blue {
            color: var(--hover-color);
        }
    }
}

.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 80px 0;

    img {
        margin-bottom: 40px;

        @include abstracts.screen(md) {
            width: 345px;
            height: 270px;
        }
    }
}
